@import "../utilidades/Variables";

.slick-slider {
  width: 90%;
  margin: auto;
  color: $detalles;
  .slick-prev:before,
  .slick-next:before {
    color: $detalles;
    font-size: 24px;
  }
  .slick-dots li button:before {
    color: $detalles;
    font-size: 8px;
  }
  .slick-slide{
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

@media screen and (max-width: 500px) {
  .slick-slider {
    width: 80%;
  }
}