@import "../utilidades/Variables";

form {
  display: flex;
  width: 70%;
  input,
  button {
    background-color: transparent;
    border: none;
    color: $blanco;
  }
  input {
    font-size: 24px;
    padding: 4px;
    width: 80%;
  }
  input::placeholder {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}
