@import "../utilidades/Variables";
@import "../utilidades/Mixin";

section {
  .header-info {
    height: 700px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .contenedor-links {
    display: flex;
    justify-content: center;
    background-color: $negro;
    @include titulo-link
  }
}
