@import "../utilidades/Variables";
@import "../utilidades/Mixin";

.contenedor-secciones {
  width: 100%;
  padding-top: 30px;
  background-color: $background-intermedio;
  section {
    .contenedor-titulo {
      display: flex;
      align-items: center;
      margin-top: 30px;
      h2 {
        @include h2-secciones;
      }
      .icono-flecha {
        margin-left: 20px;
        font-size: 1.5rem;
        color: $detalles;
      }
    }
  }
}
