@import "../utilidades/Variables";
@import "../utilidades/Mixin";

.contenedor-info {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  margin-bottom: 50px;
  .poster {
    width: 30%;
    margin: 40px;
    img {
      width: 100%;
    }
  }
  .contenedor-descripcion {
    width: 70%;
    color: $blanco;
    letter-spacing: 1px;
    margin-top: 15px;
    h3 {
      font-size: 2rem;
    }
    .contenedor-estrellas {
      width: 240px;
      display: flex;
      justify-content: space-around;
      svg {
        color: $detalles;
        font-size: 20px;
      }
    }
    .descripcion {
      width: 80%;
      line-height: 25px;
    }
    ul {
      width: 80%;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        margin-left: 10px;
      }
    }
    .lista-generos {
      li {
        color: $detalles;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .seccion-detalle {
    .contenedor-info {
      width: 90%;
      flex-direction: column;
      margin: auto;
      .poster {
        width: 70%;
        margin: 15px;
      }
      .contenedor-descripcion {
        width: 95%;
        color: $blanco;
        letter-spacing: 1px;
        margin-top: 15px;
        margin-left: 15px;
        h3 {
          font-size: 2rem;
        }
        .contenedor-estrellas {
          width: 240px;
          display: flex;
          justify-content: space-around;
          svg {
            color: $detalles;
            font-size: 20px;
          }
        }
        .descripcion {
          width: 90%;
        }
        ul {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .seccion-detalle {
    .contenedor-info {
      .contenedor-descripcion {
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
