@import "../utilidades/Variables";
@import "../utilidades/Mixin";

.contenedor-seccion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  background-color: $negro;
  section {
    display: flex;
    flex-direction: column;
    h2 {
    @include h2-secciones;
    }
    .resultados-busqueda {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    justify-content: center;
    }
  }
}
