@import "../utilidades/Variables";
@import "../utilidades/Mixin";

.contenedor-seccion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  background-color: $background-intermedio;
  section {
    display: flex;
    flex-direction: column;
    h2 {
      @include h2-secciones; 
    }
    .contenedor-resultados {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .no-disponible{
        margin-top: 100px;
        margin-bottom: 150px;
        color: $blanco;
        font-size: 2rem;
      }
    }
  }
}
