@import "../utilidades/Variables";
.contenedor-sección {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  background-color: $gris-oscuro;
  section {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 2rem;
      font-weight: 300;
      margin-left: 30px;
      color: $blanco;
    }
    .resultados-busqueda {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    justify-content: center;
    }
  }
}
