@import "./styles/utilidades/Variables";

body {
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: $background-intermedio;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
